body{
    background-image: url("https://i0.wp.com/45.media.tumblr.com/b7fc0905bbb7cbb4175a8792028c8c10/tumblr_njqg8q30PG1tcuj64o1_400.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#title{
    color: aliceblue;
    font-family: cursive;
}


.main{
    color: red;
    height: 600px;
    width: 400px;
    align-items: center;
    align-content: center;
    background-color:black;
    margin-right:500px ;
    margin-left: 550px;
    margin-top: 50px;
    border-radius: 15px;
}
.main input{
    margin-top: 20px;
   margin-right: 20px;
   height: 50px;
   width: 70px;
   border-radius: 15px;
   border: none;
   font-size: 20px;
   
}
.main input[type="textarea"]{
    height: 80px;
    width: 372px;
    margin-top: 8px;
    margin-left: 10px;
}
.div0 input{
    background-color: orange;
}